{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "loose": true,
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        },
        "es5": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": "commonjs",
                        "loose": true,
                        "useBuiltIns": false
                    }
                ],
                "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-transform-modules-commonjs",
                [
                    "@babel/plugin-proposal-class-properties",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}
